.home {
  background-color: white;
}
section.info {
  min-height: 100vh;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 100px 0;
  position: relative;
}
section.info:before {
    content: '';
    background-color: #00ffb9;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    display: block;
    width: 50%;
    height: 100%;
}
section.info .bg,
  section.info .bg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
section.info .bg-container {
      top: 0px !important;
}
}
section.info .bg-container:after {
    content: '';
    background-color: #00ffb9;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 180;
    display: block;
    width: 40000px;
    height: 170vh;
    -ms-transform: translate(-50%, -50%) rotate(-58deg);
        transform: translate(-50%, -50%) rotate(-58deg);
}
@media (max-width: 768px) {
section.info .bg-container:after {
        height: 90vh;
}
}
section.info .info-content {
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    position: relative;
    z-index: 200;
}
section.info .info-content .logo-wrapper {
      -ms-flex-order: 1;
          order: 1;
      position: relative;
      margin: 0 100px;
}
@media (max-width: 768px) {
section.info .info-content .logo-wrapper {
          margin: 0 19vw;
}
}
section.info .info-content .logo-wrapper .logo {
        max-width: 560px;
        width: 100%;
        margin-right: -20%;
}
section.info .info-content .tagline {
      font-size: 1rem;
      font-weight: 400;
      color: #000ca0;
      max-width: 300px;
      -ms-flex-order: 3;
          order: 3;
      font-weight: 400;
      letter-spacing: 0.1rem;
      margin: 0 auto 30px;
}
@media (max-width: 768px) {
section.info .info-content .tagline {
          font-size: 1rem;
          padding: 2vw;
          margin: 0 auto 25px;
}
}
section.info .info-content .title {
      font-size: 2.8rem;
      font-weight: bold;
      text-transform: uppercase;
      color: #000ca0;
      -ms-flex-order: 2;
          order: 2;
      margin: 50px auto 30px;
}
@media (max-width: 768px) {
section.info .info-content .title {
          margin: 25px auto 25px;
}
}
section.info .info-content .date {
      -ms-flex-order: 4;
          order: 4;
      margin: 50px auto;
      position: relative;
}
@media (max-width: 768px) {
section.info .info-content .date {
          margin: 25px auto;
}
}
section.info .info-content .date .day {
        font-size: 3.75rem;
        font-weight: bold;
        color: #000ca0;
}
@media (max-width: 768px) {
section.info .info-content .date .day {
            font-size: 2.5rem;
}
}
section.info .info-content .date .day-separator {
        display: inline-block;
        width: 200px;
        position: relative;
        height: 1.6rem;
}
@media (max-width: 768px) {
section.info .info-content .date .day-separator {
            width: 30vw;
}
}
section.info .info-content .date .day-separator:after {
          content: '';
          display: block;
          width: 95%;
          height: 2px;
          background: linear-gradient(to right, #f9eb46 0%, #000ca0 100%);
          position: absolute;
          top: 50%;
          left: 0;
}
section.info .info-content .date .month {
        position: absolute;
        right: -10px;
        bottom: 3px;
        -ms-transform: translateX(100%);
            transform: translateX(100%);
        font-weight: 500;
        text-transform: uppercase;
        font-size: 3rem;
}
@media (max-width: 768px) {
section.info .info-content .date .month {
            position: static;
            font-size: 2.5rem;
}
}
section.info .info-content .where {
      -ms-flex-order: 5;
          order: 5;
      text-transform: uppercase;
      color: #000ca0;
      font-size: 0.9rem;
      font-weight: 500;
}




.button {
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative;
}
.button.is-bg-yellow {
    background-color: #f9eb46;
}
.button.is-bg-white {
    background-color: #fff;
}
.button.is-bg-green {
    background-color: #00ffb9;
}
.button.is-text-blue {
    color: #000ca0;
}
.button.is-line-blue-green:before, .button.is-line-green-blue:before, .button.is-line-blue:before {
    content: '';
    display: block;
    position: absolute;
    left: 7%;
    top: 7%;
    width: 86%;
    height: 86%;
    background: linear-gradient(135deg, #000ca0 0%, #00ffb9 100%);
}
.button.is-line-blue-green:after, .button.is-line-green-blue:after, .button.is-line-blue:after {
    content: '';
    display: block;
    position: absolute;
    left: calc(7% + 2px);
    top: calc(7% + 2px);
    width: calc(86% - 4px);
    height: calc(86% - 4px);
}
.button.is-line-blue-green.is-bg-white:after, .button.is-line-green-blue.is-bg-white:after, .button.is-line-blue.is-bg-white:after {
    background-color: #fff;
}
.button.is-line-blue-green.is-bg-white span:after, .button.is-line-green-blue.is-bg-white span:after, .button.is-line-blue.is-bg-white span:after {
    background: linear-gradient(135deg, #00ffb9 0%, #000ca0 100%);
}
.button.is-line-blue-green.is-bg-white span:before, .button.is-line-green-blue.is-bg-white span:before, .button.is-line-blue.is-bg-white span:before {
    background: #fff;
}
.button.is-line-blue-green.is-bg-yellow:after, .button.is-line-green-blue.is-bg-yellow:after, .button.is-line-blue.is-bg-yellow:after {
    background-color: #f9eb46;
}
.button.is-line-blue-green.is-bg-yellow span:after, .button.is-line-green-blue.is-bg-yellow span:after, .button.is-line-blue.is-bg-yellow span:after {
    background: linear-gradient(135deg, #000ca0 0%, #00ffb9 100%);
}
.button.is-line-blue-green.is-bg-yellow span:before, .button.is-line-green-blue.is-bg-yellow span:before, .button.is-line-blue.is-bg-yellow span:before {
    background: #f9eb46;
}
.button.is-line-blue-green.is-bg-green:after, .button.is-line-green-blue.is-bg-green:after, .button.is-line-blue.is-bg-green:after {
    background-color: #00ffb9;
}
.button.is-line-blue-green.is-bg-green span:after, .button.is-line-green-blue.is-bg-green span:after, .button.is-line-blue.is-bg-green span:after {
    background: #000ca0;
}
.button.is-line-blue-green.is-bg-green span:before, .button.is-line-green-blue.is-bg-green span:before, .button.is-line-blue.is-bg-green span:before {
    background: #00ffb9;
}
.button.is-line-blue-green span, .button.is-line-green-blue span, .button.is-line-blue span {
    position: relative;
    z-index: 50;
}
.button.is-line-green-blue:before {
    background: linear-gradient(135deg, #00ffb9 0%, #000ca0 100%);
}
.button.is-line-blue:before {
    background: #000ca0;
}
.button span {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2vw;
    padding: 0 20%;
    display: block;
}
@media (max-width: 768px) {
.button span {
        font-size: 3.5vw;
}
}
.button span:after, .button span:before {
      content: '';
      position: absolute;
      bottom: -3.5vw;
      left: 50%;
      -ms-transform: translate(calc(-50% - 0.3vw), -50%) rotate(45deg);
          transform: translate(calc(-50% - 0.3vw), -50%) rotate(45deg);
      width: 1.2vw;
      height: 1.2vw;
      z-index: 10;
}
@media (max-width: 768px) {
.button span:after, .button span:before {
          width: 4vw;
          height: 4vw;
          bottom: -10vw;
}
}
.button span:before {
      left: calc(50% - 3px);
      z-index: 20;
}

.buttons{
  display: flex;
  position: relative;
  z-index: 10000;
  justify-content: center;
  margin-bottom: 100px;
}
.buttons .button{
  width: 13vw;
  height: 13vw;
  margin: 0 25px;
}
@media (max-width: 768px) {
  .buttons .button{
    width: 40vw;
    height: 40vw;
    margin: 0 25px;
  }
}
